:root {
  --dark-blue: #293241;
  --light-blue: #bfd7e4;
  --red: #f67669;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", monospace;
  background-color: var(--dark-color);
}
